body{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center;
}

.image{
  border: black 4px solid;
}

.get-btn{
  background-color: blue;
  border: none;
  padding: 1% 3%;
  color: azure;
  border-radius: 15px;
}

.get-btn:hover{
  background-color: rgb(105, 105, 245);
}